Options -MultiViews
RewriteEngine On

# Serve existing files or folders directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rewrite "service/{slug}"
RewriteRule ^service/([a-zA-Z0-9-]+)/?$ service.php?slug=$1 [QSA,L]

# Rewrite "options/{type}/{category}" (two parameters)
RewriteRule ^options/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/?$ options.php?type=$1&category=$2 [QSA,L]

# Rewrite "options/{slug}" (fallback for one parameter)
RewriteRule ^options/([a-zA-Z0-9-]+)/?$ options.php?slug=$1 [QSA,L]


# Rewrite "signin"
RewriteRule ^signin/?$ signin.php [QSA,L]
