Options -MultiViews
RewriteEngine On

# Serve existing files or folders directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Rewrite "service/{slug}"
RewriteRule ^service/([a-zA-Z0-9-]+)/?$ service.php?slug=$1 [QSA,L]

# Rewrite "options/{slug}"
RewriteRule ^options/([a-zA-Z0-9-]+)/?$ options.php?slug=$1 [QSA,L]

# Rewrite "signin"
RewriteRule ^signin/?$ signin.php [QSA,L]
